/* Global Styles */

html, body{
  height: 100%;
  width: 100%;
  background-image: url(../img/resume_background.png);
  background-repeat: repeat;
}

.container-fluid {
	padding: 2em;
}
h3 {
	margin: 0 auto;
}

h1, h3, h4 {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
}
li, p {
	list-style: none;
	font-family: 'Lora', serif;
	letter-spacing: .1em;
}

span {
	font-size: .7em;
	font-family: 'Lora', serif;
	padding-left: 1.5em;
}

a {
	color: red;
}

/*Header*/

header {
	padding-top: 4em;
	padding-bottom: 3em;
}

header h1{
	margin: 0 auto;
	font-size: 2.5em;
}

header p {
	margin: 0 auto;
}

hr {
	border-color: #CECECE;
}

.row {
	padding-top: 2em;
}











