@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
body, h1, h2, p {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif; }

body {
  background: #ECF0F1;
  height: 100%; }

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif; }

.gifs {
  padding-top: 4em;
  padding-bottom: 2em;
  text-align: center; }

.appInfo {
  text-align: center; }
  .appInfo .greyFont {
    color: #919191; }

.freeMonth {
  color: black;
  text-decoration: underline; }

.firstMonth {
  color: #919191;
  text-align: center;
  margin-top: 1em; }

.pBtn {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 3em; }
  .pBtn .startButton {
    background: #FF6A44;
    width: 20em;
    text-align: center;
    height: 2.5em;
    cursor: pointer;
    color: #fff;
    border: none;
    padding-top: .5em;
    font-size: 1.3em;
    border-radius: 0; }

.navbar {
  margin-bottom: 0;
  border: 0;
  border-bottom: black; }

.links li {
  text-decoration: none;
  list-style: none;
  color: black;
  float: right;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 1.2em;
  padding-top: .8em; }
  .links li a {
    color: black; }
  .links li a:visited {
    text-decoration: none;
    color: black; }
  .links li a:hover {
    text-decoration: none;
    color: black; }
  .links li a:hover, .links li a:active {
    text-decoration: none;
    color: black; }

.logoLine {
  margin: 0;
  padding-left: 2%;
  font-size: 1.5em;
  height: 2.5em;
  padding-top: .5em;
  background: #F5D76E; }
  .logoLine a:visited {
    text-decoration: none;
    color: black; }
  .logoLine a:hover {
    text-decoration: none;
    color: black; }
  .logoLine a:hover, .logoLine a:active {
    text-decoration: none;
    color: black; }

div.registerBox {
  color: black;
  padding-bottom: 2em;
  padding-top: 4em; }
  div.registerBox form {
    border: 2px solid #FF6A44;
    padding-bottom: 2em; }
    div.registerBox form input, div.registerBox form button, div.registerBox form select {
      border: 2px solid #FF6A44;
      height: 3em;
      margin-top: 1em;
      width: 90%;
      margin-left: 5%;
      color: black; }
    div.registerBox form .select {
      border-radius: 0; }
    div.registerBox form button {
      background: #F5D76E;
      border: 2px solid #FF6A44;
      height: 3em;
      margin-top: 1em;
      width: 90%;
      margin-left: 5%;
      outline-color: #F5D76E;
      color: black; }
    div.registerBox form p {
      color: white; }
    div.registerBox form h2 {
      text-align: center; }

.loginPage {
  padding-bottom: 2em;
  margin-top: 4em;
  margin-bottom: 21em; }
  .loginPage form {
    border: 2px solid #FF6A44;
    padding-bottom: 2em; }
    .loginPage form input, .loginPage form button, .loginPage form select {
      border: 2px solid #FF6A44;
      height: 3em;
      margin-top: 1em;
      width: 90%;
      margin-left: 5%;
      color: black; }
    .loginPage form .select {
      border-radius: 0; }
    .loginPage form button {
      background: #F5D76E;
      border: 2px solid #FF6A44;
      height: 3em;
      margin-top: 1em;
      width: 90%;
      margin-left: 5%;
      outline-color: #F5D76E;
      color: black; }
    .loginPage form p {
      color: white; }
    .loginPage form h2 {
      text-align: center; }

.pricing {
  margin-top: 2em; }

.panel-pricing {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }

.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); }

.panel-pricing .panel-heading {
  padding: 20px 10px; }

.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px; }

.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5); }

.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; }

.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px; }

.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px; }

.bookDetails {
  margin-top: 5em; }
  .bookDetails .title {
    font-size: 2em; }
  .bookDetails button {
    background: #FF6A44;
    border: none;
    height: 3em;
    margin-top: 1em;
    width: 10em;
    outline-color: #FF6A44;
    color: white; }
  .bookDetails .image-container {
    text-align: center; }
  .bookDetails .descript {
    font-size: 1.3em; }
  .bookDetails .detailsAuthor {
    font-size: 1.3em; }

#wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center; }
  #wrapper h1 {
    margin-top: 2.5em;
    font-size: 5em;
    color: white; }
  #wrapper h3 {
    font-family: "Raleway", sans-serif;
    color: #fff;
    padding-bottom: .5em; }
  #wrapper #heroBack {
    font-weight: 600; }
  #wrapper .btn {
    background: transparent;
    border: 2px solid white;
    color: #fff;
    border-radius: 0;
    margin-bottom: 3em;
    width: 20em; }

header {
  height: 40em;
  width: 100%;
  overflow: hidden;
  background: url("../images/foggy-read.png") no-repeat center center;
  background-size: cover; }

.filter-container {
  margin: 0 auto;
  margin-top: .5em;
  margin-left: 1em;
  margin-right: 1em; }
  .filter-container input {
    width: 100%;
    margin: 0 auto;
    height: 3em;
    border: 2px solid #F5D76E;
    outline: none; }

.category-search-container {
  margin: 0 auto;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em; }
  .category-search-container select {
    width: 100%;
    margin: 0 auto;
    height: 3em;
    border: 2px solid #F5D76E;
    outline: none; }

.search-category-container .panel {
  margin: 2em; }
  .search-category-container .panel p {
    margin-left: 1em;
    margin-right: 1em; }

#browseBooks {
  text-align: center; }

.detailsAuthor {
  padding-top: 20px; }

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.hover01 figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.05); }

.removeDiv {
  display: none !important; }

.bookList {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  .bookList h3 {
    margin-bottom: 3em; }

.checkoutCart {
  margin: 0 auto;
  margin-top: 3em; }
  .checkoutCart li {
    list-style: none;
    float: left;
    padding-left: 1em; }
  .checkoutCart button {
    background: #FF6A44;
    border: none;
    height: 2em;
    margin-top: 1em;
    width: 10em;
    outline-color: #FF6A44;
    color: white; }
  .checkoutCart h3 {
    text-align: center; }
  .checkoutCart #shipBtn {
    margin-left: 30%; }

.btn-danger, .btn-warning {
  border-radius: 0; }

#footer {
  text-align: center;
  background: #F5D76E;
  font-size: 1.2em;
  height: 2.5em;
  padding-top: .5em;
  margin-top: 2em; }
  #footer a {
    padding-right: 5%;
    color: black; }

hr {
  border-color: #d3d3d3; }

.confirmation-page {
  margin: 0 auto;
  margin-top: 3em;
  margin-left: 3em;
  text-align: center; }
  .confirmation-page img {
    text-align: center; }
